@font-face {
    font-family: 'Avenir Light';
    src:url(../fonts/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Bold';
    src:url(../fonts/Klavika-bold-opentype.otf);
    font-weight: normal;
    font-style: normal;
}