body {
    font-family: 'Avenir Light';
}
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fbfbfb;
}

/* MENU STYLES GENERAL*/

.navbar {
    text-transform: uppercase;
    font-family: 'Klavika Bold';
}
.navbar-inverse .navbar-nav>li>a {color:#8e9699;}
.navbar-nav>li>a {padding-top: 20px;padding-bottom: 20px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #181e20;
}

/* CAROUSEL GENERAL*/

.carousel-part {
    position: relative;
    background: url("../img/carousel-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    height: 951px;
}
.carousel-text { font-size: 36px; color: #697181; top: 400px; position: relative; z-index: 2;}
.carousel-text .active {color:white; }
.carousel-text a .glyphicon {color:#ec6364}
.carousel.vertical .carousel-control.up {  top: -50px;  right: 0;  bottom: 50%;  }
.carousel.vertical .carousel-control {  left: 25%;  width: 50px;  }
.carousel-control {font-size:50px;}
.carousel.vertical .carousel-control.down {top:70%;}


/* CONTENT GENERAL*/

.content-part {
    position: relative;
    background: url("../img/bg-2.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    max-height: 100%;
    height: 751px;
}
.content-part h2 {margin:0; padding-top: 100px; padding-bottom: 40px; font-size: 34px;}
.red-color {color:#ec6364}
.research-text {text-align: center; color: #212124; font-size: 20px; }
.research-text p {color: #9494a1;}
.bold-black {font-weight: bold; color: #212124}


.content-part .breadcrumb {background-color: white;}
.content-part .breadcrumb-title{color: #9494a1; font-size: 18px;}
.content-part .breadcrumb-title strong {color:black;}
.content-part .breadcrumb-text h3 {font-size: 34px;color: #212124;}
.content-part .breadcrumb-text p {color: #9494a1; font-size: 18px;}

.prototyping-part {background-color: #d6587c; color:white; text-align: center;padding: 50px 0;}
.prototyping-part .breadcrumb-title {font-size: 18px;}
.prototyping-part .breadcrumb-title strong {color:black;}
.prototyping-part .breadcrumb-text h3 {font-size: 34px;}
.prototyping-part .breadcrumb-text p {font-size: 18px;}

.usertesting-part {padding:50px 0;}
.usertesting-part .breadcrumb {background-color: white;}
.usertesting-part .breadcrumb-title strong {color:black;}
.usertesting-part .breadcrumb-title{color: #9494a1; font-size: 18px;}
.usertesting-part .breadcrumb-text h3 {font-size: 34px;color: #212124;}
.usertesting-part .breadcrumb-text p {color: #9494a1; font-size: 18px;}

.design-part {background-color: #020000; color:white; text-align: center;padding-top: 50px;}
.design-part .breadcrumb-title {font-size: 18px; color:#d2ff00;}
.design-part .breadcrumb-title strong {color:white;}
.design-part .breadcrumb-text h3 {font-size: 34px;}
.design-part .breadcrumb-text p {font-size: 18px;}
.eye {padding-bottom:50px;}

.dreamingcode-part {padding:50px 0;}
.dreamingcode-part .breadcrumb {background-color: white;}
.dreamingcode-part .breadcrumb-title strong {color:black;}
.dreamingcode-part .breadcrumb-title{color: #9494a1; font-size: 18px;}
.dreamingcode-part .breadcrumb-text h3 {font-size: 34px;color: #212124;}
.dreamingcode-part .breadcrumb-text p {color: #9494a1; font-size: 18px;}

/* MENU STYLES DESKTOP ONLY */

@media (min-width: 768px) {
    .design-part {height: 477px;}
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-nav > li > a {
        border-bottom: 2px solid #393e41;
    }

    .navbar-nav > li a:hover,
    .navbar-nav > li a:focus,
    .navbar-inverse .navbar-nav>.active>a{
        border-bottom: 2px solid #ff6969;
    }
    .navbar-nav > li a:nth-child(4) {
        border-bottom: none;
    }

    .navbar-nav > li {
        position: relative;
    }

    .navbar-nav > li:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #3e4c50;
        top: 50%;
        margin-top: -2px;
        right: -3px;
        z-index: 1;
        border-radius: 6px;
    }
    .navbar-nav > li:before {
        right: auto;
        left: -3px;
    }
    .navbar-nav > li:first-child:before {
        background: none;
    }
    .navbar-nav > li:nth-child(4):before {
        background: none;
    }
    .navbar-nav > li:nth-child(4)> a:before {
        display: none;
    }
    .logo a {
        border-bottom: none !important;
    }

    .navbar-inverse .navbar-nav>.active>a:before{
        color: #ff6969; content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        top: 80%;
        margin-top: -2px;
        left: 45%;
        z-index: 1;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .carousel-part {    min-height: 50vh;  max-height: 100%;  height: 571px;}
    .carousel-text {    font-size: 22px; top: 300px;  }
    .content-part {min-height: inherit;  max-height: inherit;  height: 571px;}
    .breadcrumb-text p {font-size: 14px !important;}
    .breadcrumb-text h3 {font-size:24px !important;}
    .breadcrumb-title {font-size: 14px !important;}
    .content-part h2 {font-size: 24px;padding-top: 40px;}
    .research-text {font-size: 14px;}
}

@media only screen and (max-width : 1200px) {
    .carousel-part {    min-height: 50vh;  max-height: 100%;  height: 571px;}
    .carousel-text {    font-size: 22px; top: 300px;  }
    .content-part {min-height: inherit;  max-height: inherit;  height: 571px;}
    .breadcrumb-text p {font-size: 16px !important;}
    .breadcrumb-text h3 {font-size:24px !important;}
    .breadcrumb-title {font-size: 16px !important;}
    .content-part h2 {font-size: 24px;padding-top: 40px;}
    .research-text {font-size: 16px;}
}

@media (max-width: 768px) {
    .content-part {background: none; height: auto; min-height: inherit;max-height: inherit;}
    .navbar {min-height: 81px;}
    p {font-size:12px !important; text-align: justify;}
    h3 {font-size:20px !important;}
    br {display: none;}
    .carousel-part {display:none;}
}